#!/bin/bash

export ORACLE_BASE={{ oracle_db_oracle_base }}
export ORACLE_HOME={% for home in oracle_db_homes %}{% if home.get("name") == item.oracle_home %}{{ home.path }}{% endif %}{% endfor %}

export ORACLE_SID={{ item.sid | default(item.name) }}
export TNS_ADMIN={{ oracle_tns_admin }}
export PATH=${ORACLE_HOME}/bin:${ORACLE_HOME}/OPatch:${PATH}
export LD_LIBRARY_PATH=${ORACLE_HOME}/lib:${ORACLE_HOME}/lib32
export NLS_DATE_FORMAT="YYYY-MM-DD HH24:MI:SS"

alias esid='echo ${ORACLE_SID}'
alias sql='sqlplus / as sysdba'
alias smon='ps aux | grep smon'
alias pmon='ps aux | grep pmon'
alias tns='cd ${TNS_ADMIN}'
